<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AnimData</key>
	<dict>
		<key>Position</key>
		<dict>
			<key>Action</key>
			<dict>
				<key>Actions</key>
				<array>
					<dict>
						<key>Duration</key>
						<real>0</real>
						<key>Position</key>
						<string>{154.5, 111}</string>
						<key>Type</key>
						<string>MoveTo</string>
					</dict>
					<dict>
						<key>Duration</key>
						<real>0.1666666716337204</real>
						<key>Position</key>
						<string>{154.5, 115}</string>
						<key>Type</key>
						<string>MoveTo</string>
					</dict>
					<dict>
						<key>Duration</key>
						<real>0.1666666716337204</real>
						<key>Position</key>
						<string>{154.5, 111}</string>
						<key>Type</key>
						<string>MoveTo</string>
					</dict>
					<dict>
						<key>Duration</key>
						<real>0.1666666567325592</real>
						<key>Position</key>
						<string>{154.5, 115}</string>
						<key>Type</key>
						<string>MoveTo</string>
					</dict>
					<dict>
						<key>Duration</key>
						<real>0.1666666865348816</real>
						<key>Position</key>
						<string>{154.5, 111}</string>
						<key>Type</key>
						<string>MoveTo</string>
					</dict>
				</array>
				<key>Type</key>
				<string>Sequence</string>
			</dict>
			<key>Type</key>
			<string>RepeatForever</string>
		</dict>
		<key>Rotation</key>
		<dict>
			<key>Action</key>
			<dict>
				<key>Actions</key>
				<array>
					<dict>
						<key>Angle</key>
						<real>-25.02077865600586</real>
						<key>Duration</key>
						<real>0</real>
						<key>Type</key>
						<string>RotateTo</string>
					</dict>
					<dict>
						<key>Angle</key>
						<real>-22.41861724853516</real>
						<key>Duration</key>
						<real>0.01666666753590107</real>
						<key>Type</key>
						<string>RotateTo</string>
					</dict>
					<dict>
						<key>Angle</key>
						<real>-0.7005818486213684</real>
						<key>Duration</key>
						<real>0.1333333402872086</real>
						<key>Type</key>
						<string>RotateTo</string>
					</dict>
					<dict>
						<key>Angle</key>
						<real>0</real>
						<key>Duration</key>
						<real>0.01666666567325592</real>
						<key>Type</key>
						<string>RotateTo</string>
					</dict>
					<dict>
						<key>Angle</key>
						<real>0.6538370251655579</real>
						<key>Duration</key>
						<real>0.01666666567325592</real>
						<key>Type</key>
						<string>RotateTo</string>
					</dict>
					<dict>
						<key>Angle</key>
						<real>20.92278480529785</real>
						<key>Duration</key>
						<real>0.1333333253860474</real>
						<key>Type</key>
						<string>RotateTo</string>
					</dict>
					<dict>
						<key>Angle</key>
						<real>23.35132217407227</real>
						<key>Duration</key>
						<real>0.01666668057441711</real>
						<key>Type</key>
						<string>RotateTo</string>
					</dict>
					<dict>
						<key>Angle</key>
						<real>20.92278480529785</real>
						<key>Duration</key>
						<real>0.01666665077209473</real>
						<key>Type</key>
						<string>RotateTo</string>
					</dict>
					<dict>
						<key>Angle</key>
						<real>0.6538370251655579</real>
						<key>Duration</key>
						<real>0.1333333253860474</real>
						<key>Type</key>
						<string>RotateTo</string>
					</dict>
					<dict>
						<key>Angle</key>
						<real>0</real>
						<key>Duration</key>
						<real>0.01666668057441711</real>
						<key>Type</key>
						<string>RotateTo</string>
					</dict>
					<dict>
						<key>Angle</key>
						<real>-0.7005818486213684</real>
						<key>Duration</key>
						<real>0.01666665077209473</real>
						<key>Type</key>
						<string>RotateTo</string>
					</dict>
					<dict>
						<key>Angle</key>
						<real>-22.41861724853516</real>
						<key>Duration</key>
						<real>0.1333333253860474</real>
						<key>Type</key>
						<string>RotateTo</string>
					</dict>
					<dict>
						<key>Angle</key>
						<real>-25.02077865600586</real>
						<key>Duration</key>
						<real>0.0166667103767395</real>
						<key>Type</key>
						<string>RotateTo</string>
					</dict>
				</array>
				<key>Type</key>
				<string>Sequence</string>
			</dict>
			<key>Type</key>
			<string>RepeatForever</string>
		</dict>
		<key>SumTime</key>
		<real>0.6666666865348816</real>
	</dict>
	<key>InitData</key>
	<dict>
		<key>AnchorPoint</key>
		<string>{0.35074626865671643, 0.76595744680851063}</string>
		<key>Opacity</key>
		<real>255</real>
		<key>Position</key>
		<string>{154.5, 111}</string>
		<key>Rotation</key>
		<real>-25.02077865600586</real>
		<key>Scale</key>
		<string>{1, 1}</string>
		<key>ZOrder</key>
		<integer>7</integer>
	</dict>
</dict>
</plist>
