<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Big_Wheel.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {49, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{49, 48}</string>
			<key>spriteSourceSize</key>
			<string>{49, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1525, 357}, {48, 49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>LargeWheel.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {132, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{132, 132}</string>
			<key>spriteSourceSize</key>
			<string>{132, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1821, 533}, {132, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Large_IronWheel.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {49, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{49, 48}</string>
			<key>spriteSourceSize</key>
			<string>{49, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{777, 955}, {49, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pic_Live_Boom Truck_Lv1_Main_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 16}, {155, 225}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{155, 225}</string>
			<key>spriteSourceSize</key>
			<string>{175, 253}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1402, 1}, {225, 155}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Pic_Live_Boom Truck_Lv2_Main_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 16}, {155, 225}}</string>
			<key>spriteOffset</key>
			<string>{-3, -2}</string>
			<key>spriteSize</key>
			<string>{155, 225}</string>
			<key>spriteSourceSize</key>
			<string>{175, 253}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1628, 1}, {155, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pic_Live_Boomer_Lv1_Body_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 7}, {108, 100}}</string>
			<key>spriteOffset</key>
			<string>{-1, 3}</string>
			<key>spriteSize</key>
			<string>{108, 100}</string>
			<key>spriteSourceSize</key>
			<string>{132, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1496, 741}, {100, 108}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Pic_Live_Borer_Lv1_Main_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 15}, {160, 90}}</string>
			<key>spriteOffset</key>
			<string>{-3, -5}</string>
			<key>spriteSize</key>
			<string>{160, 90}</string>
			<key>spriteSourceSize</key>
			<string>{170, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1811, 142}, {90, 160}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Pic_Live_Borer_Lv2_Main_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 15}, {166, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{166, 90}</string>
			<key>spriteSourceSize</key>
			<string>{170, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{307, 749}, {90, 166}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Pic_Live_Bulldozer_Lv1_Main_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 15}, {154, 90}}</string>
			<key>spriteOffset</key>
			<string>{-1, -5}</string>
			<key>spriteSize</key>
			<string>{154, 90}</string>
			<key>spriteSourceSize</key>
			<string>{170, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1829, 303}, {90, 154}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Pic_Live_Bulldozer_Lv2_Main_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 15}, {160, 90}}</string>
			<key>spriteOffset</key>
			<string>{2, -5}</string>
			<key>spriteSize</key>
			<string>{160, 90}</string>
			<key>spriteSourceSize</key>
			<string>{170, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1688, 666}, {160, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pic_Live_Carrier_Lv1_Main_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 13}, {152, 199}}</string>
			<key>spriteOffset</key>
			<string>{-4, -3}</string>
			<key>spriteSize</key>
			<string>{152, 199}</string>
			<key>spriteSourceSize</key>
			<string>{204, 219}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1611, 227}, {199, 152}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Pic_Live_Carrier_Lv2_Main_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 13}, {154, 199}}</string>
			<key>spriteOffset</key>
			<string>{-4, -3}</string>
			<key>spriteSize</key>
			<string>{154, 199}</string>
			<key>spriteSourceSize</key>
			<string>{204, 219}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1402, 157}, {154, 199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pic_Live_DrillCampDoor_Lv1_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {54, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 94}</string>
			<key>spriteSourceSize</key>
			<string>{54, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{545, 871}, {54, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pic_Live_DrillCampDoor_Lv2_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {78, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{78, 176}</string>
			<key>spriteSourceSize</key>
			<string>{78, 176}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{600, 940}, {176, 78}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Pic_Live_DrillCamp_Lv1_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {228, 305}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{228, 305}</string>
			<key>spriteSourceSize</key>
			<string>{228, 305}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 749}, {305, 228}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Pic_Live_DrillCamp_Lv2_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {278, 396}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{278, 396}</string>
			<key>spriteSourceSize</key>
			<string>{278, 396}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 470}, {396, 278}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Pic_Live_Flyer_Lv1_Balloon_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {90, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{90, 88}</string>
			<key>spriteSourceSize</key>
			<string>{90, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1343, 848}, {88, 90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Pic_Live_Flyer_Lv1_Boom_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 5}, {96, 116}}</string>
			<key>spriteOffset</key>
			<string>{-5, 6}</string>
			<key>spriteSize</key>
			<string>{96, 116}</string>
			<key>spriteSourceSize</key>
			<string>{126, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1920, 418}, {116, 96}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Pic_Live_Flyer_Lv2_Balloon_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {90, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{90, 88}</string>
			<key>spriteSourceSize</key>
			<string>{90, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1137, 868}, {88, 90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Pic_Live_Flyer_Lv2_Boom_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 5}, {106, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{106, 128}</string>
			<key>spriteSourceSize</key>
			<string>{126, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1367, 741}, {128, 106}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Pic_Live_Flyer_Lv3_Balloon_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {90, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{90, 88}</string>
			<key>spriteSourceSize</key>
			<string>{90, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1252, 848}, {90, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pic_Live_Flyer_Lv3_Boom_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 1}, {110, 132}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{110, 132}</string>
			<key>spriteSourceSize</key>
			<string>{126, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1937, 1}, {110, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pic_Live_Flyer_Rope_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {14, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{14, 80}</string>
			<key>spriteSourceSize</key>
			<string>{14, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{777, 940}, {80, 14}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Pic_Live_Infinite_Lv1_P1_Main_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 38}, {334, 462}}</string>
			<key>spriteOffset</key>
			<string>{0, -19}</string>
			<key>spriteSize</key>
			<string>{334, 462}</string>
			<key>spriteSourceSize</key>
			<string>{400, 500}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{604, 1}, {462, 334}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Pic_Live_Infinite_Lv1_P2_Main_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 42}, {334, 458}}</string>
			<key>spriteOffset</key>
			<string>{0, -21}</string>
			<key>spriteSize</key>
			<string>{334, 458}</string>
			<key>spriteSourceSize</key>
			<string>{400, 500}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1067, 1}, {334, 458}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pic_Live_Infinite_Lv1_P3_Main_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 48}, {332, 452}}</string>
			<key>spriteOffset</key>
			<string>{-1, -24}</string>
			<key>spriteSize</key>
			<string>{332, 452}</string>
			<key>spriteSourceSize</key>
			<string>{400, 500}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{604, 336}, {332, 452}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pic_Live_JetFlyer_Lv1_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 8}, {102, 122}}</string>
			<key>spriteOffset</key>
			<string>{5, 6}</string>
			<key>spriteSize</key>
			<string>{102, 122}</string>
			<key>spriteSourceSize</key>
			<string>{130, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1402, 357}, {122, 102}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Pic_Live_JetFlyer_Lv2_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 8}, {112, 134}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{112, 134}</string>
			<key>spriteSourceSize</key>
			<string>{130, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{937, 621}, {112, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pic_Live_JetFlyer_Lv3_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 8}, {110, 134}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{110, 134}</string>
			<key>spriteSourceSize</key>
			<string>{130, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{937, 756}, {110, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pic_Live_Large Borer_Lv1_Mian_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {262, 164}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{262, 164}</string>
			<key>spriteSourceSize</key>
			<string>{262, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{398, 470}, {164, 262}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Pic_Live_LargeCarrier_Lv2_Whee_0l.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {132, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{132, 132}</string>
			<key>spriteSourceSize</key>
			<string>{132, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1688, 533}, {132, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pic_Live_LargeCarrier_Lv2_main_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 7}, {320, 280}}</string>
			<key>spriteOffset</key>
			<string>{-3, -3}</string>
			<key>spriteSize</key>
			<string>{320, 280}</string>
			<key>spriteSourceSize</key>
			<string>{350, 288}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1367, 460}, {320, 280}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pic_Live_OgreFlyer_Lv1_Boom_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {140, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{140, 152}</string>
			<key>spriteSourceSize</key>
			<string>{140, 152}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1784, 1}, {152, 140}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Pic_Live_OgreFlyer_Lv2_Boom_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {140, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{140, 152}</string>
			<key>spriteSourceSize</key>
			<string>{140, 152}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1688, 380}, {140, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pic_Live_OgreFlyer_Rope_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {14, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{14, 100}</string>
			<key>spriteSourceSize</key>
			<string>{14, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{398, 996}, {100, 14}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Pic_Live_Ogre_Hammer_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 14}, {45, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{45, 99}</string>
			<key>spriteSourceSize</key>
			<string>{63, 125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 978}, {99, 45}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Pic_Live_Ogre_Lv1_Arm_L_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {53, 86}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{53, 86}</string>
			<key>spriteSourceSize</key>
			<string>{67, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1557, 157}, {53, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pic_Live_Ogre_Lv1_Arm_R_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 13}, {41, 74}}</string>
			<key>spriteOffset</key>
			<string>{-1, -4}</string>
			<key>spriteSize</key>
			<string>{41, 74}</string>
			<key>spriteSourceSize</key>
			<string>{55, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{184, 978}, {74, 41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Pic_Live_Ogre_Lv1_Body_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 4}, {96, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{96, 112}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1048, 765}, {112, 96}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Pic_Live_Ogre_Lv1_Head_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 9}, {50, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 52}</string>
			<key>spriteSourceSize</key>
			<string>{70, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{545, 966}, {50, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pic_Live_Ogre_Lv1_Leg_L_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {32, 43}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{32, 43}</string>
			<key>spriteSourceSize</key>
			<string>{44, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{259, 978}, {43, 32}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Pic_Live_Ogre_Lv1_Leg_R_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {36, 43}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{36, 43}</string>
			<key>spriteSourceSize</key>
			<string>{44, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{563, 680}, {36, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pic_Live_Ogre_Lv2_Arm_L_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {61, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{61, 86}</string>
			<key>spriteSourceSize</key>
			<string>{67, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{863, 789}, {61, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pic_Live_Ogre_Lv2_Arm_R_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 5}, {43, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{43, 82}</string>
			<key>spriteSourceSize</key>
			<string>{55, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{101, 978}, {82, 43}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Pic_Live_Prod_Lv1_Main_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 15}, {144, 90}}</string>
			<key>spriteOffset</key>
			<string>{4, -5}</string>
			<key>spriteSize</key>
			<string>{144, 90}</string>
			<key>spriteSourceSize</key>
			<string>{170, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1597, 741}, {90, 144}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Pic_Live_Prod_Lv2_Main_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 15}, {150, 90}}</string>
			<key>spriteOffset</key>
			<string>{7, -5}</string>
			<key>spriteSize</key>
			<string>{150, 90}</string>
			<key>spriteSourceSize</key>
			<string>{170, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1902, 142}, {90, 150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Pic_Live_Resister_Lv2_Main_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 18}, {146, 262}}</string>
			<key>spriteOffset</key>
			<string>{-4, -9}</string>
			<key>spriteSize</key>
			<string>{146, 262}</string>
			<key>spriteSourceSize</key>
			<string>{170, 280}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{398, 733}, {146, 262}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pic_Live_Resister_Lv3_Main_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 20}, {150, 260}}</string>
			<key>spriteOffset</key>
			<string>{0, -10}</string>
			<key>spriteSize</key>
			<string>{150, 260}</string>
			<key>spriteSourceSize</key>
			<string>{170, 280}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{602, 789}, {260, 150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Pic_Live_Runner_Hammer_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {40, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{40, 104}</string>
			<key>spriteSourceSize</key>
			<string>{40, 104}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{563, 575}, {40, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pic_Live_Runner_Hoe_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 104}</string>
			<key>spriteSourceSize</key>
			<string>{60, 104}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{863, 876}, {60, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pic_Live_Runner_Lv1_Arm_L_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {16, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{16, 35}</string>
			<key>spriteSourceSize</key>
			<string>{20, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{846, 980}, {16, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pic_Live_Runner_Lv1_Arm_R_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {24, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{24, 18}</string>
			<key>spriteSourceSize</key>
			<string>{30, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1557, 276}, {18, 24}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Pic_Live_Runner_Lv1_Body_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {56, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{56, 68}</string>
			<key>spriteSourceSize</key>
			<string>{60, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{545, 802}, {56, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pic_Live_Runner_Lv1_Leg_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {24, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{24, 34}</string>
			<key>spriteSourceSize</key>
			<string>{30, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{499, 996}, {34, 24}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Pic_Live_Runner_Lv1_Leg_L_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 5}, {18, 31}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{18, 31}</string>
			<key>spriteSourceSize</key>
			<string>{26, 39}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1557, 244}, {18, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pic_Live_Runner_Lv1_Leg_R_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {16, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{16, 32}</string>
			<key>spriteSourceSize</key>
			<string>{22, 38}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1611, 157}, {16, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pic_Live_Runner_Lv2_Arm_L_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {18, 35}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{18, 35}</string>
			<key>spriteSourceSize</key>
			<string>{20, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{827, 980}, {18, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pic_Live_Runner_Lv2_Arm_R_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {24, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{24, 20}</string>
			<key>spriteSourceSize</key>
			<string>{30, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{827, 955}, {20, 24}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Pic_Live_Runner_Lv2_Body_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {56, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{56, 68}</string>
			<key>spriteSourceSize</key>
			<string>{60, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{545, 733}, {56, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pic_Live_Runner_Lv2_Leg_L_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 5}, {18, 31}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{18, 31}</string>
			<key>spriteSourceSize</key>
			<string>{26, 39}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{777, 1004}, {31, 18}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Pic_Live_Runner_Lv2_Leg_R_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {16, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{16, 32}</string>
			<key>spriteSourceSize</key>
			<string>{22, 38}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1611, 190}, {16, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pic_Live_Runner_Mace_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {40, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{40, 104}</string>
			<key>spriteSourceSize</key>
			<string>{40, 104}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{563, 470}, {40, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pic_Live_Rusher_Lv1_Normal_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 6}, {98, 88}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{98, 88}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{924, 891}, {88, 98}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Pic_Live_Rusher_Lv1_Rush_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 6}, {102, 88}}</string>
			<key>spriteOffset</key>
			<string>{9, -0}</string>
			<key>spriteSize</key>
			<string>{102, 88}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1048, 862}, {88, 102}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Pic_Live_Rusher_Lv2_Normal_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 6}, {102, 90}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{102, 90}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1161, 765}, {90, 102}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Pic_Live_Rusher_Lv2_Rush_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 6}, {106, 90}}</string>
			<key>spriteOffset</key>
			<string>{7, -1}</string>
			<key>spriteSize</key>
			<string>{106, 90}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{307, 916}, {90, 106}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Pic_Live_Sprayer_Lv1_Main_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 6}, {108, 124}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{108, 124}</string>
			<key>spriteSourceSize</key>
			<string>{140, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1920, 293}, {108, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pic_Live_Sprayer_Lv2_Main_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 6}, {126, 124}}</string>
			<key>spriteOffset</key>
			<string>{4, -3}</string>
			<key>spriteSize</key>
			<string>{126, 124}</string>
			<key>spriteSourceSize</key>
			<string>{140, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{937, 336}, {124, 126}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Pic_Live_TutorialBoss_Lv1_Main_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {602, 468}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{602, 468}</string>
			<key>spriteSourceSize</key>
			<string>{608, 468}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {602, 468}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pic_Live_TutorialBoss_Lv1_Wheel.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {304, 304}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{304, 304}</string>
			<key>spriteSourceSize</key>
			<string>{304, 304}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1062, 460}, {304, 304}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pic_Live_Wealthy_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {115, 157}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{115, 157}</string>
			<key>spriteSourceSize</key>
			<string>{115, 157}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{937, 463}, {115, 157}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 1024}</string>
		<key>name</key>
		<string>Pic_Lives_0-hd.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>Pic_Lives_0-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>Pic_Lives_0-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>