<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AnimData</key>
	<dict>
		<key>Position</key>
		<dict>
			<key>Action</key>
			<dict>
				<key>Actions</key>
				<array>
					<dict>
						<key>Duration</key>
						<real>0.0</real>
						<key>Position</key>
						<string>{92.75, 50.5}</string>
						<key>Type</key>
						<string>MoveTo</string>
					</dict>
					<dict>
						<key>Duration</key>
						<real>0.1666666716337204</real>
						<key>Position</key>
						<string>{92.75, 55.25}</string>
						<key>Type</key>
						<string>MoveTo</string>
					</dict>
					<dict>
						<key>Duration</key>
						<real>0.1666666716337204</real>
						<key>Position</key>
						<string>{92.75, 66.5}</string>
						<key>Type</key>
						<string>MoveTo</string>
					</dict>
					<dict>
						<key>Duration</key>
						<real>0.1666666567325592</real>
						<key>Position</key>
						<string>{92.75, 55.25}</string>
						<key>Type</key>
						<string>MoveTo</string>
					</dict>
					<dict>
						<key>Duration</key>
						<real>0.16666668653488159</real>
						<key>Position</key>
						<string>{92.75, 54.5}</string>
						<key>Type</key>
						<string>MoveTo</string>
					</dict>
				</array>
				<key>Type</key>
				<string>Sequence</string>
			</dict>
			<key>Type</key>
			<string>RepeatForever</string>
		</dict>
		<key>Rotation</key>
		<dict>
			<key>Action</key>
			<dict>
				<key>Actions</key>
				<array>
					<dict>
						<key>Angle</key>
						<real>-22</real>
						<key>Duration</key>
						<real>0.0</real>
						<key>Type</key>
						<string>RotateTo</string>
					</dict>
					<dict>
						<key>Angle</key>
						<real>0.0</real>
						<key>Duration</key>
						<real>0.1666666716337204</real>
						<key>Type</key>
						<string>RotateTo</string>
					</dict>
					<dict>
						<key>Angle</key>
						<real>22</real>
						<key>Duration</key>
						<real>0.1666666716337204</real>
						<key>Type</key>
						<string>RotateTo</string>
					</dict>
					<dict>
						<key>Angle</key>
						<real>0.0</real>
						<key>Duration</key>
						<real>0.1666666567325592</real>
						<key>Type</key>
						<string>RotateTo</string>
					</dict>
					<dict>
						<key>Angle</key>
						<real>-22</real>
						<key>Duration</key>
						<real>0.16666668653488159</real>
						<key>Type</key>
						<string>RotateTo</string>
					</dict>
				</array>
				<key>Type</key>
				<string>Sequence</string>
			</dict>
			<key>Type</key>
			<string>RepeatForever</string>
		</dict>
		<key>SumTime</key>
		<real>0.66666668653488159</real>
	</dict>
	<key>InitData</key>
	<dict>
		<key>AnchorPoint</key>
		<string>{0.15909090909090909, 0.75490196078431371}</string>
		<key>Opacity</key>
		<real>255</real>
		<key>Position</key>
		<string>{92.75, 50.5}</string>
		<key>Rotation</key>
		<real>-22</real>
		<key>Scale</key>
		<string>{1, 1}</string>
		<key>ZOrder</key>
		<integer>3</integer>
	</dict>
</dict>
</plist>
